<!DOCTYPE html>
<html>
<head>
  <title>Sample Service</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="user_nav">
    <%= link_to 'home', root_url %>
    <%= link_to 'about', about_url %>
    <%= link_to 'contact', contact_url %>
    |
    <% if user_signed_in? -%>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to 'sign out', sign_out_url, :method => :delete %>
      <%= link_to 'oauth', oauth_clients_url %>
      

    <% else -%>    
      <%= link_to 'sign up', new_user_registration_url %>
      <%= link_to 'sign in', sign_in_url %>
    <% end -%>
  </div>
  
  <div class="alert">
    <span class="notice"><%= notice %></span>
    <span class="alert"><%= alert %></span>
  </div>
    
  <%= yield %>
</body>
</html>
