<!DOCTYPE html>
<html>
<head>
  <title>Sample Service</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js" type="text/javascript"></script>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="user_nav">
    <% if user_signed_in? -%>
      Signed in as <%= current_user.email %>. No you? 
      <%= link_to 'sign out', destroy_user_session_url, :method => :delete %>
    <% else -%>    
      <%= link_to 'sign up', new_user_registration_url %>
      <%= link_to 'sign in', new_user_session_url %>
    <% end -%>
    
    <%= link_to 'home', root_url %>
    <%= link_to 'about', about_url %>
  </div>
  
  <div class="alert">
    <span class="notice"><%= notice %></span>
    <span class="alert"><%= alert %></span>
  </div>
    
  <%= yield %>
</body>
</html>
